<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome to The Movie Streamin​g Platf​​​orm">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title></title>
    <link rel="stylesheet" href="/nicepage.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/lib/jquery/dist/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/lib/nicepage/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.5, nicepage.com">
</head>
<body class="u-body u-hide-footer u-hide-header u-xl-mode" data-style="blank" data-posts="" data-global-section-properties="{&quot;colorings&quot;:{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}}" data-source="blank" data-page-sections-style="[]" data-page-coloring-types="{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}" data-page-category="&quot;Basic&quot;" data-back-link="https://nicepage.com/html-templates" data-back-link-title="HTML Template" data-wp-back-link="https://nicepage.com/wordpress-themes" data-wp-back-link-title="WordPress Themes" data-jm-back-link="https://nicepage.com/joomla-templates" data-jm-back-link-title="Joomla Templates" data-created-with-link="https://nicepage.com/static-site-generator" data-created-with-title="Static Website Generator" data-wp-created-with-link="https://nicepage.com/wordpress-website-builder" data-wp-created-with-title="WordPress Builder" data-jm-created-with-link="https://nicepage.com/joomla-page-builder" data-jm-created-with-title="Joomla Page Builder">
    <section class="u-clearfix u-block-95dd-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-cacd" data-source="Blank" data-id="95dd">
        <div class="u-clearfix u-sheet u-valign-middle u-block-95dd-2"><h6 class="u-align-center u-text u-text-default u-block-95dd-3">CS308 Software Engineering Project</h6></div>
        <style data-mode="XL">@@media (min-width: 1200px) {
  .u-block-95dd-2 {
    min-height: 62px;
  }
  .u-block-95dd-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}</style>
        <style data-mode="LG">@@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-95dd-2 {
    min-height: 62px;
  }
  .u-block-95dd-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}</style>
        <style data-mode="MD">@@media (max-width: 991px) and (min-width: 768px) {
  .u-block-95dd-2 {
    min-height: 62px;
  }
  .u-block-95dd-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}</style>
        <style data-mode="SM">@@media (max-width: 767px) and (min-width: 576px) {
  .u-block-95dd-2 {
    min-height: 62px;
  }
  .u-block-95dd-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}</style>
        <style data-mode="XS">@@media (max-width: 575px) {
  .u-block-95dd-2 {
    min-height: 62px;
  }
  .u-block-95dd-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}</style>
    </section><section class="u-align-center u-clearfix u-block-287a-1" custom-posts-hash="T" data-post-id="2502854279" data-section-properties="{&quot;width&quot;:&quot;sheet&quot;,&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" data-id="287a" data-state="{&quot;min-height&quot;:{&quot;canCollapse&quot;:{&quot;XL&quot;:null,&quot;LG&quot;:null,&quot;MD&quot;:null,&quot;SM&quot;:null,&quot;XS&quot;:null}}}" data-posts-content="[{'images':[],'maps':[],'videos':[],'icons':[],'textWidth':1140,'textHeight':177,'id':1,'headingProp':'h1','textProp':'text'}]" data-style="text-heading-only" id="sec-7c3c" data-source="Sketch">
        <div class="u-clearfix u-sheet u-valign-middle u-block-287a-2">
            <h1 class="u-hover-feature u-text u-text-palette-1-base u-block-287a-3" data-current-state="default" data-css="{&quot;hover&quot;:{&quot;transform&quot;:&quot;scale(1.1) translateX(0px) translateY(0px)&quot;,&quot;color&quot;:&quot;&quot;,&quot;text-color&quot;:&quot;&quot;,&quot;shadow&quot;:&quot;&quot;,&quot;text-shadow&quot;:&quot;&quot;,&quot;border&quot;:&quot;&quot;},&quot;default&quot;:{&quot;transform&quot;:&quot;translateX(0) translateY(0) scale(1) rotate(0deg)&quot;,&quot;background-image&quot;:&quot;&quot;,&quot;gradient&quot;:&quot;&quot;,&quot;color&quot;:&quot;&quot;,&quot;text-color&quot;:&quot;palette-1-base&quot;},&quot;hover-on-group&quot;:{&quot;transform&quot;:&quot;rotate(0deg) scale(1) translateX(0px) translateY(0px)&quot;}}">Welcome to The Movie Streamin​g Platf​​​orm</h1>
        </div>
        <style data-mode="XL">@@media (min-width: 1200px) {
  .u-block-287a-2 {
    min-height: 171px;
  }
  .u-block-287a-3 {
    font-weight: 900;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 103px;
    margin-right: 103px;
  }
}</style>
        <style data-mode="LG">@@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-287a-2 {
    min-height: 171px;
  }
  .u-block-287a-3 {
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 103px;
    margin-right: 103px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}</style>
        <style data-mode="MD">@@media (max-width: 991px) and (min-width: 768px) {
  .u-block-287a-2 {
    min-height: 171px;
  }
  .u-block-287a-3 {
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 103px;
    margin-right: 103px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}</style>
        <style data-mode="SM">@@media (max-width: 767px) and (min-width: 576px) {
  .u-block-287a-2 {
    min-height: 171px;
  }
  .u-block-287a-3 {
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 103px;
    margin-right: 103px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}</style>
        <style data-mode="XS">@@media (max-width: 575px) {
  .u-block-287a-2 {
    min-height: 171px;
  }
  .u-block-287a-3 {
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 103px;
    margin-right: 103px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}</style>
        <style class="u-block-287a-3 u-state-style">
            .u-block-287a-3:not([data-block-selected]):not([data-cell-selected]), .u-block-287a-3:not([data-block-selected]):not([data-cell-selected]):before {
                transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
            }

                .u-block-287a-3:not([data-block-selected]):not([data-cell-selected]).u-block-287a-3:not([data-block-selected]):not([data-cell-selected]).u-block-287a-3:not([data-block-selected]):not([data-cell-selected]):hover {
                    transform: scale(1.1) translateX(0px) translateY(0px) !important
                }

            .u-block-287a-3.u-block-287a-3.u-block-287a-3.hover {
                transform: scale(1.1) translateX(0px) translateY(0px) !important
            }

            .u-container-layout:hover .u-block-287a-3:not([data-block-selected]):not([data-cell-selected]) {
                transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
            }

            .u-container-layout.hover .u-block-287a-3 {
                transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
            }
        </style>
    </section><section class="u-clearfix u-block-ecd0-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-e406" data-source="Blank" data-id="ecd0">
        <div class="u-clearfix u-sheet u-block-ecd0-2">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-block-ecd0-3">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-block-ecd0-4">
                            <div class="u-container-layout u-valign-middle u-block-ecd0-5">
                                <a href="@Url.Action("Login", "Account")" class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-2 u-radius-16 u-block-ecd0-15" data-current-state="default" data-css="{&quot;hover&quot;:{&quot;border-radius&quot;:48,&quot;color&quot;:&quot;none&quot;,&quot;text-color&quot;:&quot;&quot;,&quot;shadow&quot;:&quot;&quot;,&quot;text-shadow&quot;:&quot;&quot;,&quot;transform&quot;:&quot;&quot;,&quot;border&quot;:&quot;&quot;},&quot;default&quot;:{&quot;border-radius&quot;:16,&quot;background-image&quot;:&quot;&quot;,&quot;gradient&quot;:&quot;&quot;,&quot;color&quot;:&quot;&quot;}}"><span style="font-size: 1.875rem;"><span style="font-weight: 700;">​LOGIN</span><span style="font-weight: 700;">​</span></span><br></a>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-block-ecd0-6">
                            <div class="u-container-layout u-block-ecd0-7">
                                <a href="@Url.Action("Register", "Account")" class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-2 u-radius-16 u-block-ecd0-16" data-css="{&quot;default&quot;:{&quot;background-image&quot;:&quot;&quot;,&quot;gradient&quot;:&quot;&quot;,&quot;color&quot;:&quot;&quot;,&quot;shadow&quot;:{&quot;x&quot;:&quot;2px&quot;,&quot;y&quot;:&quot;0&quot;,&quot;blur&quot;:&quot;0&quot;,&quot;spread&quot;:&quot;0&quot;,&quot;color&quot;:&quot;black&quot;,&quot;transparency&quot;:&quot;&quot;,&quot;toString&quot;:null,&quot;toJSON&quot;:null},&quot;border-radius&quot;:16},&quot;hover&quot;:{&quot;shadow&quot;:&quot;&quot;,&quot;color&quot;:&quot;none&quot;,&quot;text-color&quot;:&quot;&quot;,&quot;text-shadow&quot;:&quot;&quot;,&quot;transform&quot;:&quot;&quot;,&quot;border&quot;:&quot;&quot;,&quot;border-radius&quot;:48}}" data-current-state="default"><span style="font-size: 1.875rem;"><span style="font-weight: 700;">​REGISTER</span><span style="font-weight: 700;">​</span></span><br></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style data-mode="XL">@@media (min-width: 1200px) {
  .u-block-ecd0-2 {
    min-height: 590px;
  }
  .u-block-ecd0-3 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .u-block-ecd0-4 {
    min-height: 400px;
  }
  .u-block-ecd0-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-15 {
    transition-duration: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
  }
  .u-block-ecd0-6 {
    min-height: 400px;
  }
  .u-block-ecd0-7 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-16 {
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(var(--black-r),var(--black-g),var(--black-b),0);
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 48px;
    padding-right: 108px;
    padding-bottom: 49px;
    padding-left: 107px;
  }
}</style>
        <style data-mode="LG">@@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-ecd0-2 {
    min-height: 520px;
  }
  .u-block-ecd0-3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .u-block-ecd0-4 {
    min-height: 330px;
  }
  .u-block-ecd0-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-15 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transition-duration: 0.5s;
  }
  .u-block-ecd0-6 {
    min-height: 330px;
  }
  .u-block-ecd0-7 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-16 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-shadow: 2px 0 0 0 rgba(var(--black-r),var(--black-g),var(--black-b),0);
    transition-duration: 0.5s;
  }
}</style>
        <style data-mode="MD">@@media (max-width: 991px) and (min-width: 768px) {
  .u-block-ecd0-2 {
    min-height: 290px;
  }
  .u-block-ecd0-3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .u-block-ecd0-4 {
    min-height: 100px;
  }
  .u-block-ecd0-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-15 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transition-duration: 0.5s;
  }
  .u-block-ecd0-6 {
    min-height: 253px;
  }
  .u-block-ecd0-7 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ecd0-16 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-shadow: 2px 0 0 0 rgba(var(--black-r),var(--black-g),var(--black-b),0);
    transition-duration: 0.5s;
  }
}</style>
        <style data-mode="SM">@@media (max-width: 767px) and (min-width: 576px) {
  .u-block-ecd0-2 {
    min-height: 390px;
  }
  .u-block-ecd0-3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .u-block-ecd0-4 {
    min-height: 100px;
  }
  .u-block-ecd0-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ecd0-15 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transition-duration: 0.5s;
  }
  .u-block-ecd0-6 {
    min-height: 380px;
  }
  .u-block-ecd0-7 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ecd0-16 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-shadow: 2px 0 0 0 rgba(var(--black-r),var(--black-g),var(--black-b),0);
    transition-duration: 0.5s;
  }
}</style>
        <style data-mode="XS">@@media (max-width: 575px) {
  .u-block-ecd0-2 {
    min-height: 390px;
  }
  .u-block-ecd0-3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .u-block-ecd0-4 {
    min-height: 100px;
  }
  .u-block-ecd0-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ecd0-15 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    transition-duration: 0.5s;
  }
  .u-block-ecd0-6 {
    min-height: 239px;
  }
  .u-block-ecd0-7 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ecd0-16 {
    padding-top: 48px;
    padding-right: 129px;
    padding-bottom: 50px;
    padding-left: 128px;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-shadow: 2px 0 0 0 rgba(var(--black-r),var(--black-g),var(--black-b),0);
    transition-duration: 0.5s;
  }
}</style>
        <style class="u-block-ecd0-16 u-state-style">
            .u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]), .u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]):before {
                transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
            }

                .u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]):hover:before {
                    background-color: var(--none) !important
                }

                .u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-16:not([data-block-selected]):not([data-cell-selected]):hover {
                    border-radius: 48px !important
                }

            .u-block-ecd0-16.u-block-ecd0-16.u-block-ecd0-16.hover {
                border-radius: 48px !important
            }
        </style>
        <style class="u-block-ecd0-15 u-state-style">
            .u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]), .u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]):before {
                transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
            }

                .u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]):hover {
                    border-radius: 48px !important
                }

                    .u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]).u-block-ecd0-15:not([data-block-selected]):not([data-cell-selected]):hover:before {
                        background-color: var(--none) !important
                    }

            .u-block-ecd0-15.u-block-ecd0-15.u-block-ecd0-15.hover {
                border-radius: 48px !important
            }
        </style>
    </section>
</body>
</html>