<section class="u-clearfix u-block-ecd0-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-e406" data-source="Blank" data-id="ecd0" style="">
  <div class="u-clearfix u-sheet u-block-ecd0-2" style="min-height: 520px" data-block-type="Sheet"><div class="u-layout-wrap u-clearfix u-expanded-width u-block-control u-block-ecd0-3" data-layout-wrap-id="1" data-block="12" style="margin-top: 60px; margin-bottom: 60px; position: relative" data-block-type="Layout"><div class="u-layout">  <div class="u-layout-row"><div class="u-size-30 u-layout-cell u-container-style u-block-control u-align-left ui-draggable ui-droppable u-block-ecd0-4" data-cell-id="1" data-column-id="1" data-block="13" style="min-height: 400px" data-block-type="Cell"><div class="u-container-layout u-valign-middle u-block-ecd0-5" data-container-layout-dom="1" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px" data-block-type="">
<a href="https://nicepage.com/c/pricing-website-templates" class="u-btn u-button-style u-block-control u-hover-palette-1-light-2 u-border-none u-radius-16 u-btn-round u-block-ecd0-15" data-block="39" style="margin: 0px auto -0.0001px; padding: 48px 128.9px 49.6624px 128px;" data-block-type="Button"><span style="font-size: 1.875rem;"><span style="font-weight: 700;">​LOGIN</span><span style="font-weight: 700;">​</span></span><br></a></div></div>
<div class="u-size-30 u-layout-cell u-container-style u-block-control ui-draggable ui-droppable u-align-left u-block-ecd0-6" data-cell-id="2" data-column-id="2" data-block="14" style="min-height: 400px" data-block-type="Cell"><div class="u-container-layout u-block-ecd0-7" data-container-layout-dom="2" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px" data-block-type="">
<a href="https://nicepage.com/c/pricing-website-templates" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-radius-16 u-block-control u-block-ecd0-16" style="margin: 97.175px auto 0px; padding: 48px 108.2px 49.2624px 107px;" data-block="41" data-block-type="Button" data-block-selected="true"><span style="font-size: 1.875rem;"><span style="font-weight: 700;" data-block-type="">​REGISTER</span><span style="font-weight: 700;">​</span></span><br></a></div></div>  </div></div></div></div>
<style data-mode="XL">@media (max-width: 0px) { .u-block-ecd0-2 {min-height: 520px}
.u-block-ecd0-3 {margin-top: 60px; margin-bottom: 60px; position: relative}
.u-block-ecd0-4 {min-height: 400px}
.u-block-ecd0-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-15 {margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: -0.0001px; padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px}
.u-block-ecd0-6 {min-height: 400px}
.u-block-ecd0-7 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-16 {margin-top: 97.175px; margin-left: auto; margin-right: auto; margin-bottom: 0px; padding-top: 48px; padding-right: 108.2px; padding-bottom: 49.2624px; padding-left: 107px} }</style><style data-mode="LG">@media (max-width: 0px) { .u-block-ecd0-2 {min-height: 450px}
.u-block-ecd0-3 {position: relative; margin-top: 60px; margin-bottom: 60px}
.u-block-ecd0-4 {min-height: 330px}
.u-block-ecd0-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-15 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: -0.0001px}
.u-block-ecd0-6 {min-height: 330px}
.u-block-ecd0-7 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-16 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 97.175px; margin-left: auto; margin-right: auto; margin-bottom: 0px} }</style><style data-mode="MD">@media (max-width: 0px) { .u-block-ecd0-2 {min-height: 220px}
.u-block-ecd0-3 {position: relative; margin-top: 60px; margin-bottom: 60px}
.u-block-ecd0-4 {min-height: 100px}
.u-block-ecd0-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-15 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: -0.0001px}
.u-block-ecd0-6 {min-height: 253px}
.u-block-ecd0-7 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px}
.u-block-ecd0-16 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 97.175px; margin-left: auto; margin-right: auto; margin-bottom: 0px} }</style><style data-mode="SM">@media (max-width: 0px) { .u-block-ecd0-2 {min-height: 320px}
.u-block-ecd0-3 {position: relative; margin-top: 60px; margin-bottom: 60px}
.u-block-ecd0-4 {min-height: 100px}
.u-block-ecd0-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-ecd0-15 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: -0.0001px}
.u-block-ecd0-6 {min-height: 380px}
.u-block-ecd0-7 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-ecd0-16 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 97.175px; margin-left: auto; margin-right: auto; margin-bottom: 0px} }</style><style data-mode="XS">@media (max-width: 0px) { .u-block-ecd0-2 {min-height: 320px}
.u-block-ecd0-3 {position: relative; margin-top: 60px; margin-bottom: 60px}
.u-block-ecd0-4 {min-height: 100px}
.u-block-ecd0-5 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-ecd0-15 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: -0.0001px}
.u-block-ecd0-6 {min-height: 239px}
.u-block-ecd0-7 {padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 10px}
.u-block-ecd0-16 {padding-top: 48px; padding-right: 128.9px; padding-bottom: 49.6624px; padding-left: 128px; margin-top: 97.175px; margin-left: auto; margin-right: auto; margin-bottom: 0px} }</style></section>