@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="u-clearfix u-gradient u-block-9fc0-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="carousel_ca89" data-source="functional_fix" data-id="9fc0" style="background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-block-9fc0-2" style="min-height: 1095px">
        <span class="u-file-icon u-icon u-opacity u-opacity-50 u-block-control u-block-9fc0-26" style="width: 264px; height: 264px; margin-top: 44px; margin-right: auto; margin-bottom: 0; margin-left: 41px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px" data-block="504" data-block-type="Icon"><img src="~/Images/1179120.png" alt="" data-original-src="~/Images/1179120.png" data-color="#000000"></span><h2 class="u-text u-text-black u-block-control u-block-9fc0-6" style="font-size: 3rem; width: 527px; margin-top: -185px; margin-left: auto; margin-right: auto; margin-bottom: 0" data-block="505" data-block-type="Text">​Welcome to MSP!</h2><span class="u-file-icon u-icon u-block-control u-block-9fc0-28" style="width: 271px; height: 271px; margin-top: 527px; margin-right: 246px; margin-bottom: 0; margin-left: auto; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0" data-block="506" data-block-type="Icon"><img src="~/Images/505145.png" alt="" data-original-src="/e45886648be01/505145.png" data-color=""></span><div class="u-clearfix u-layout-wrap u-block-control u-expanded-width u-block-9fc0-19" style="margin-top: -661px; margin-bottom: 60px" data-layout-wrap-id="10" data-block="507" data-block-type="Layout">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-block-control u-block-9fc0-20" style="min-height: 413px" data-cell-id="19" data-column-id="19" data-block="508" data-block-type="Cell">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-block-9fc0-21" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px" data-container-layout-dom="36">
                            <p class="u-align-center u-text u-block-control u-block-9fc0-24" style="font-size: 1.125rem; margin-top: 33px; margin-left: 0; margin-right: 0; margin-bottom: 0" data-block="509" data-block-type="Text">
                                <span style="font-weight: 700;">​</span>Our project would
                                like to implement an online video streaming platform, which will allow users to
                                watch movies without required payments. "Streaming services are literally a dime a dozen these days" for foreign market but
                                almost none for region of Bosnia and Herzegovina, our goal for this project is
                                to develop beneficial platform which will allow users to browse movies on their
                                own language (i.e., Bosnian), throughout the website.
                                <!--[if !supportFootnotes]--><br>
                                <!--[endif]-->
                                <br><br>
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-30 u-block-control u-block-9fc0-22" style="min-height: 413px" data-cell-id="20" data-column-id="20" data-block="510" data-block-type="Cell">
                        <div class="u-container-layout u-valign-bottom-xl u-block-9fc0-23" style="padding-top: 23px; padding-bottom: 23px; padding-left: 30px; padding-right: 30px" data-container-layout-dom="37">
                            <p class="u-text u-block-control u-block-9fc0-25" style="font-size: 1.125rem; margin-top: 40px; margin-left: 0; margin-right: 0; margin-bottom: 0" data-block="511" data-block-type="Text">
                                The software that
                                we intend to implement would be capable of solving online issues that other
                                streaming websites have, for example a broad range of advertisements, loading
                                issues, non-downloadable
                                movies… There are several streaming websites which do not have previously
                                mentioned problems. However, You, as a customer must pay to use the features.
                                In our case the customers will not obligated to pay for unlimited experience of
                                watching High-Definition videos and
                                without any commercials.
                            </p><a href="293428230" class="u-active-palette-1-light-1 u-border-active-palette-5-dark-3 u-border-hover-palette-5-dark-3 u-border-none u-btn u-btn-round u-button-style u-hover-palette-4-light-2 u-palette-4-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-block-control u-block-9fc0-18" style="text-transform: uppercase; font-size: 1rem; letter-spacing: 3px; background-image: none; margin-top: 19px; margin-right: 0; margin-bottom: 0; margin-left: auto; padding-top: 12px; padding-right: 41px; padding-bottom: 12px; padding-left: 39px" data-block="512" data-block-type="Button">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style data-mode="XL" data-visited="true">
        @@media (max-width: 0px) {
            .u-block-9fc0-1 {
                background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))
            }

            .u-block-9fc0-2 {
                min-height: 1095px
            }

            .u-block-9fc0-26 {
                width: 264px;
                height: 264px;
                margin-top: 44px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 41px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-9fc0-6 {
                font-size: 3rem;
                width: 527px;
                margin-top: -185px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0
            }

            .u-block-9fc0-28 {
                width: 271px;
                height: 271px;
                margin-top: 527px;
                margin-right: 246px;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-19 {
                margin-top: -661px;
                margin-bottom: 60px
            }

            .u-block-9fc0-20 {
                min-height: 413px
            }

            .u-block-9fc0-21 {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 30px;
                padding-right: 30px
            }

            .u-block-9fc0-24 {
                font-size: 1.125rem;
                margin-top: 33px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0
            }

            .u-block-9fc0-22 {
                min-height: 413px
            }

            .u-block-9fc0-23 {
                padding-top: 23px;
                padding-bottom: 23px;
                padding-left: 30px;
                padding-right: 30px
            }

            .u-block-9fc0-25 {
                font-size: 1.125rem;
                margin-top: 40px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0
            }

            .u-block-9fc0-18 {
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 3px;
                background-image: none;
                margin-top: 19px;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 12px;
                padding-right: 41px;
                padding-bottom: 12px;
                padding-left: 39px
            }
        }
    </style>
    <style data-mode="LG" data-visited="true">
        @@media (max-width: 0px) {
            .u-block-9fc0-1 {
                background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))
            }

            .u-block-9fc0-2 {
                min-height: 1065px
            }

            .u-block-9fc0-26 {
                width: 264px;
                height: 264px;
                margin-top: 43px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 41px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-6 {
                font-size: 3rem;
                width: auto;
                margin-top: -170px;
                margin-right: 49.8335px;
                margin-bottom: 0;
                margin-left: 363.167px
            }

            .u-block-9fc0-28 {
                width: 271px;
                height: 271px;
                margin-top: 561px;
                margin-right: 245px;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-19 {
                margin-top: -714.667px;
                margin-bottom: 298.667px
            }

            .u-block-9fc0-20 {
                min-height: 458px
            }

            .u-block-9fc0-21 {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 19px;
                padding-right: 19px
            }

            .u-block-9fc0-24 {
                font-size: 1.125rem;
                width: auto;
                margin-top: 0px;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 22px
            }

            .u-block-9fc0-22 {
                min-height: 459px
            }

            .u-block-9fc0-23 {
                padding-top: 15.3335px;
                padding-bottom: 15.3335px;
                padding-left: 10.1669px;
                padding-right: 10.1669px
            }

            .u-block-9fc0-25 {
                font-size: 1.125rem;
                width: auto;
                margin-top: 42px;
                margin-right: 39.6673px;
                margin-bottom: 0;
                margin-left: 0
            }

            .u-block-9fc0-18 {
                background-image: none;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 3px;
                margin-top: 21.6667px;
                margin-right: 39.6667px;
                margin-bottom: -14.6667px;
                margin-left: auto;
                padding-top: 12px;
                padding-right: 41px;
                padding-bottom: 12px;
                padding-left: 39px
            }
        }
    </style>
    <style data-mode="MD">
        @@media (max-width: 0px) {
            .u-block-9fc0-1 {
                background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))
            }

            .u-block-9fc0-2 {
                min-height: 1000px
            }

            .u-block-9fc0-26 {
                width: 264px;
                height: 264px;
                margin-top: 43px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 41px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-6 {
                font-size: 3rem;
                width: auto;
                margin-top: -170px;
                margin-left: 193px;
                margin-right: 0px;
                margin-bottom: 0
            }

            .u-block-9fc0-28 {
                width: 271px;
                height: 271px;
                margin-top: 561px;
                margin-right: 188px;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-19 {
                margin-top: -715px;
                margin-bottom: 298.667px
            }

            .u-block-9fc0-20 {
                min-height: 100px
            }

            .u-block-9fc0-21 {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 19px;
                padding-right: 19px
            }

            .u-block-9fc0-24 {
                font-size: 1.125rem;
                margin-top: 0px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                width: auto
            }

            .u-block-9fc0-22 {
                min-height: 100px
            }

            .u-block-9fc0-23 {
                padding-top: 15.3335px;
                padding-bottom: 15.3335px;
                padding-left: 10.1669px;
                padding-right: 10.1669px
            }

            .u-block-9fc0-25 {
                margin-bottom: 0;
                margin-top: 42px;
                font-size: 1.125rem;
                margin-left: 0;
                margin-right: 0;
                width: auto
            }

            .u-block-9fc0-18 {
                background-image: none;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 3px;
                margin-top: 21.6667px;
                margin-right: 0;
                margin-bottom: -14.6667px;
                margin-left: auto;
                padding-top: 12px;
                padding-right: 41px;
                padding-bottom: 12px;
                padding-left: 39px
            }
        }
    </style>
    <style data-mode="SM">
        @@media (max-width: 0px) {
            .u-block-9fc0-1 {
                background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))
            }

            .u-block-9fc0-2 {
                min-height: 1100px
            }

            .u-block-9fc0-26 {
                width: 264px;
                height: 264px;
                margin-top: 43px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 41px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-6 {
                font-size: 2.75rem;
                width: auto;
                margin-top: -170px;
                margin-left: 13px;
                margin-right: 0px;
                margin-bottom: 0
            }

            .u-block-9fc0-28 {
                width: 271px;
                height: 271px;
                margin-top: 561px;
                margin-right: 141px;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-19 {
                margin-top: -715px;
                margin-bottom: 298.667px
            }

            .u-block-9fc0-20 {
                min-height: 100px
            }

            .u-block-9fc0-21 {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-9fc0-24 {
                font-size: 1.125rem;
                margin-top: 0px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                width: auto
            }

            .u-block-9fc0-22 {
                min-height: 100px
            }

            .u-block-9fc0-23 {
                padding-top: 15.3335px;
                padding-bottom: 15.3335px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-9fc0-25 {
                margin-bottom: 0;
                margin-top: 42px;
                font-size: 1.125rem;
                margin-left: 0;
                margin-right: 0;
                width: auto
            }

            .u-block-9fc0-18 {
                background-image: none;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 3px;
                margin-top: 21.6667px;
                margin-right: 0;
                margin-bottom: -14.6667px;
                margin-left: auto;
                padding-top: 12px;
                padding-right: 41px;
                padding-bottom: 12px;
                padding-left: 39px
            }
        }
    </style>
    <style data-mode="XS">
        @@media (max-width: 0px) {
            .u-block-9fc0-1 {
                background-image: linear-gradient(var(--palette-4-light-2), var(--palette-1-dark-2))
            }

            .u-block-9fc0-2 {
                min-height: 1100px
            }

            .u-block-9fc0-26 {
                width: 264px;
                height: 264px;
                margin-top: 43px;
                margin-right: auto;
                margin-bottom: 0;
                margin-left: 41px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-6 {
                font-size: 2.25rem;
                width: auto;
                margin-top: -170px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0
            }

            .u-block-9fc0-28 {
                width: 271px;
                height: 271px;
                margin-top: 561px;
                margin-right: 89px;
                margin-bottom: 0;
                margin-left: auto;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0
            }

            .u-block-9fc0-19 {
                margin-top: -715px;
                margin-bottom: 298.667px
            }

            .u-block-9fc0-20 {
                min-height: 100px
            }

            .u-block-9fc0-21 {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-9fc0-24 {
                font-size: 1.125rem;
                margin-top: 0px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                width: auto
            }

            .u-block-9fc0-22 {
                min-height: 100px
            }

            .u-block-9fc0-23 {
                padding-top: 15.3335px;
                padding-bottom: 15.3335px;
                padding-left: 10px;
                padding-right: 10px
            }

            .u-block-9fc0-25 {
                margin-bottom: 0;
                margin-top: 42px;
                font-size: 1.125rem;
                margin-left: 0;
                margin-right: 0;
                width: auto
            }

            .u-block-9fc0-18 {
                background-image: none;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 3px;
                margin-top: 21.6667px;
                margin-right: 0;
                margin-bottom: -14.6667px;
                margin-left: auto;
                padding-top: 12px;
                padding-right: 41px;
                padding-bottom: 12px;
                padding-left: 39px
            }
        }
    </style>
</section>